@{
    ViewBag.Title = "Warm welcoming page";
    Layout = "_Layout";
}

<h1>Hello, fellow citizen. Welcome to my Camera Shop/Catalog!</h1>
<h3>Please click on the "Show Catalog" above to view all the cameras.</h3>
<!-- Make a button that directs to CatalogController's ShowCatalog()-->

<a class="btn btn-outline-primary" asp-controller="Catalog" asp-action="ShowCatalog">Show Catalog</a>
<a class="btn btn-outline-primary" asp-controller="Brand" asp-action="ShowBrands">Show Brands</a>
@if(SignInManager.IsSignedIn(User))
{
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="UserProfile">Show Profile</a>
}
