@model Camera_Shop.Models.CameraDto

@{
    ViewData["Title"] = "Create a Camera";
    Layout = "_Layout";
}

<h2>Create a new Camera or add an existing one!</h2>
<br/>

<div>
    <form method="post" asp-action="InsertIntoDatabase">
        <h4>Enter brand name:</h4>
        <input type="text" asp-for="Camera.Brand" class="form-control"/>
        <br>

        <h4>Enter model:</h4>
        <input type="text" asp-for="Camera.Model" class="form-control"/>
        <br>

        <h4>Enter megapixels:</h4>
        <input type="text" asp-for="CameraSpecifications.Megapixels" class="form-control"/>
        <br>

        <h4>Enter base ISO:</h4>
        <input type="text" asp-for="CameraSpecifications.BaseISO" class="form-control"/>
        <br>

        <h4>Enter max ISO:</h4>
        <input type="text" asp-for="CameraSpecifications.MaxISO" class="form-control"/>
        <br>
        
        <input type="submit" value="Create" class="btn btn-outline-primary"/>
    </form>
</div>

<br/>

<div>
    <a asp-action="ShowCatalog" class="btn btn-outline-primary">Back to the catalog</a>
</div>