@model Data.Models.DTOs.CameraDTO

@{
    ViewBag.Title = "Create a Camera";
    Layout = "_Layout";
}

<h2>Here you can create a new camera and insert it into our database</h2>
<br/>

<div>
    <form method="post" asp-action="CreatePost">
        <h4>Enter brand name:</h4>
        <input type="text" asp-for="Brand" class="form-control"/>
        <br>

        <h4>Enter model:</h4>
        <input type="text" asp-for="Model" class="form-control"/>
        <br>

        <h4>Enter megapixels:</h4>
        <input type="number" asp-for="Megapixels" class="form-control"/>
        <br>

        <h4>Enter base ISO:</h4>
        <input type="number" asp-for="BaseISO" class="form-control"/>
        <br>

        <h4>Enter max ISO:</h4>
        <input type="number" asp-for="MaxISO" class="form-control"/>
        <br>
        
        <input type="submit" value="Create" class="btn btn-outline-primary"/>
    </form>
</div>
<div>
    <a asp-action="ShowCatalog" class="btn btn-outline-primary">Back to the catalog</a>
</div>