@model Camera_Shop.Models.ErrorViewModel;

@{
    ViewData["Title"] = "ERROR!";
    Layout = "_Layout";
}

<h1 class="align-content-center align-items-center alert-danger" >!!! ERROR 400 !!!</h1>
<p class="align-content-center align-items-center alert-danger" >You've done an "ops"-ie!</p>

<br/>

<h4>Error message: @Model.ErrorMessage</h4>