@model IEnumerable<Data.Models.Classes.Camera>

@{
    ViewBag.Title = "Camera Catalog";
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/Catalog/showCatalog.css" />
}

<!-- Show all cameras-->
<div class="items">
    @foreach (Camera camera in Model)
    {
        <div class="item camera span-2">
            <h1>
                <a class="image" asp-action="ViewCamera" asp-route-id="@camera.Id"><img src="~/images/Catalog/@(camera.Model).jpg" alt=""/></a>
                <br/>
                <a class="btn btn-outline-primary" asp-action="ViewCamera" asp-route-id="@camera.Id">@camera.Brand.Name @camera.Model</a>
            </h1>
        </div>
    }
</div>

@if (SignInManager.IsSignedIn(User))
{
    <!--Create a Camera -->
    <div class="create">
        <a class="btn btn-outline-primary" asp-action="Create">Create a Camera</a>
    </div>
}