@model IEnumerable<Camera_Shop.Models.Camera>

@{
    ViewData["Title"] = "Camera Catalog";
    Layout = "_Layout";
}

<!-- Show all cameras-->
<div>
    @foreach(var camera in Model) //var camera in Model
    {
        <tr>
            <td>
                <h5><b>Camera Brand:</b> @camera.Brand</h5>
                <h5><b>Camera Model:</b> @camera.Model</h5>
                
                @if(camera.Specifications == null)
                {
                    <h5><b>Camera Specifications:</b> <strong class="alert-danger">Not available!</strong></h5>
                }
                else
                {
                    <h5><b>Available Camera Specifications:</b> <a asp-action="ShowSpecification" asp-route-specsId="@camera.Specifications.Id" asp-controller="Catalog">Click here</a></h5>
                }
            </td>
        </tr>
        <hr/>
    }
</div>

<!-- Create a Camera-->
<div>
    <a class="btn btn-primary btn-outline-primary" asp-action="CreateCamera">Create a Camera!</a>
</div>
