@model Data.Models.Classes.User

@{
    ViewBag.Title = $"DELETE {Model.UserName}";
    Layout = "_Layout";
}
<h1 class="alert-danger">Beware, that deleting the user will delete it permanently!!!</h1>

<div>
    <form method="post" asp-action="DeletePost" asp-controller="Account" asp-route-id="@Model.Id">
    <!-- Replace with dynamic way of showing properties-->
    <h5>Your Username: @Model.UserName</h5>
    <h5>Your Email: @Model.Email</h5>

    <button class="btn btn-outline-primary alert-danger" type="submit">DELETE</button>
    </form>
</div>
