@model Camera_Shop.Models.LoginViewModel

@{
    ViewBag.Title = "User Login";
    Layout = "_Layout";
}

<h1 xmlns="http://www.w3.org/1999/html">User Login</h1>

<div asp-validation-summary="All">
    <form method="post">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
        <br/>
        
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
        <br/>
        
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe"/>
        
        <br/>
        
        <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
</div>