@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<h1>User Registration</h1>

<div>
    <form method="post">
        <label asp-for="UserName"></label>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
        <br/>

        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
        <br/>

        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
        <br/>

        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword"></span>
        <br/>

        <button type="submit" class="btn btn-outline-primary">Register</button>
    </form>
</div>