@model IEnumerable<Data.Models.Classes.Brand>

@{
    ViewBag.Title = "Show all brands";
    Layout = "_Layout";
}

<div>
    @foreach(var brand in Model)
    {
        <tr>
            <td>
                <h5>
                    <b>Brand Name:</b> @brand.Name</h5>

                @if(brand.Cameras != null)
                {
                    <h5>
                        <b>Brand's Cameras: </b>
                    </h5>
                    @foreach(var camera in brand.Cameras)
                    {
                        <h4>
                            <b>Camera Model:</b> @camera.Model
                        </h4>
                    }
                }
                else
                {
                    <h5><b>Brand's Cameras: </b>NONE</h5>
                }
                @if(SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@brand.Id">Edit</a>
                    <a class="btn btn-outline-primary alert-danger" asp-action="Delete" asp-route-id="@brand.Id">Delete</a>
                }
            </td>
        </tr>
    }
</div>

@if (SignInManager.IsSignedIn(User))
{
    <!--Create a Brand -->
    <div>
        <a class="btn btn-outline-primary" asp-action="Create">Create a Brand</a>
    </div>
}