@model Camera_Shop.Models.ErrorViewModel;

@{
    ViewData["Title"] = "You've done an \"ops\"-ie!";
    Layout = "_Layout";
}

<h1 class="align-content-center">!!! ERROR 400 !!!</h1>
<p>Or something...</p>

<br/>
<br/>
<br/>

<h4>Error message: @Model.ErrorMessage</h4>