@model Data.Models.ViewModels.ErrorViewModel;

@{
    ViewData["Title"] = "ERROR!";
    Layout = "_Layout";
}

<h1 class="align-content-center align-items-center alert-danger" >You've done an "ops"-ie!</h1>

<br/>

@if (Model.ShowRequestId)
{
    <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
}

@if(Model.Errors != null)
{
    @foreach(var message in Model.Errors)
    {
        <div><b>Error(s): @message</b></div>
    }
}