@model Data.Models.ViewModels.ErrorViewModel;

@{
    ViewBag.Title = "ERROR!";
    Layout = "_Layout";
}

<h2 class="align-content-center align-items-center alert-danger" >You've done an "ops"-ie!</h2>
<br/>
@if (Model.ShowRequestId)
{
    <p><strong>Request ID:</strong> <b>@Model.RequestId</b></p>
}
@if(@Model.Exception != null)
{
    <h4>@Model.Exception.Message</h4>
}

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div><h5>Error: @Model.ErrorMessage</h5></div>
}
